[submodule "dependencies/parse"]
	path = dependencies/parse
	url = git://github.com/mattbierner/parse.js.git
[submodule "dependencies/nu"]
	path = dependencies/nu
	url = git://github.com/mattbierner/nu.git
[submodule "dependencies/ecma-ast"]
	path = dependencies/ecma-ast
	url = https://github.com/mattbierner/ecma-ast.git
